.advantages {

  &.section {
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
    vertical-align: top;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__descr {
    font-size: 14px;
    line-height: 1.71;
    color: $third-color;
  }

  &__thumb {
    padding: 25px 100px;
    margin-bottom: 30px;
    height: 120px;
    background-color: $background-color2;
    border-radius: 4px;
  }
}