.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: $background-color;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(../images/bg-first-screen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;


  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
  }

  &__btn {
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white-color;

    background-color: $second-color;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn:hover,
  &__btn:focus {
    background-color: $button-hover-bg-color;
  }
}